body {
    background: linear-gradient(to bottom, #FF5722, #FFC107);
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.container {
    background-color: burlywood;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(142, 3, 248, 0.142);
    padding: 20px;
    text-align: center;
}

h1 {
    color: #ff5722;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
}

button {
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e64a19;
}

.greeting {
    margin-top: 20px;
    font-size: 18px;
    color: #9C27B0;
}
